.headerContainer{
  height: 6rem;
  background-color: #131a29;  
  
}

.headerContent{
    max-width:  1120px;
    height: 6rem;
    margin: 0 auto;
    display: flex;
    align-items: center;


    img{
        cursor: pointer;
    }
    nav{
        margin-left: 5rem;
        height: 5rem;
    }
    a{
        display: inline-block;
        position: relative;
        padding: 0 0.5rem;
        height: 5rem;
        line-height: 5rem;
        color: #ffb800;
        
        & + a{
            margin-left: 2rem;
        }
    }
    button{
        margin-left: auto;
    }


}

@media (max-width: 770px){

   .headerContent{
        img{
        display: none;
        }

        nav{
            margin-left: -5px;
        }
        a{
            & + a{
                margin-left: 0.1rem;
            }
        }
   }

}

@media (max-width: 485px){

    .headerContent{
 
         nav{
             margin-left: -5px;
         }
         a{
            font-size: 10px;
            & + a{
                 margin-left: 0.1rem;
             }
         }
    }
 
 }